.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: 100px;
  }
  
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
  
.example-margin {
  margin: 0 10px;
}