<mat-accordion>
  <mat-expansion-panel *ngFor = "let item of items">
<mat-expansion-panel-header>
      <mat-panel-title>
          {{item.name}}
      </mat-panel-title>
      <mat-panel-description>
          {{item.price}}
      </mat-panel-description>
      <mat-panel-description>
          {{item.inventory}}
      </mat-panel-description>
      <button *ngIf = "item.ST == 0" mat-raised-button color = "primary" (click) = "save(item)">Delete</button> 
      <button *ngIf = "item.ST == 2" mat-raised-button color = "warn" (click) = "deleteItem(item.id)">click to delete</button>
      <button *ngIf = "item.ST == 2" mat-raised-button color = "primary" (click) = "unsave(item)">Cancel</button>
     <!--<button mat-raised-button color="warn" (click)="deleteItem(item.id)">Delete</button>-->
  </mat-expansion-panel-header>
  <section class="example-section">
    <mat-checkbox *ngIf = "item.inventory == false" unchecked="true">inventory?</mat-checkbox>
    <mat-checkbox *ngIf = "item.inventory == true" checked="true">inventory?</mat-checkbox>

  </section>
</mat-expansion-panel>
</mat-accordion>