<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<div>
  <button mat-raised-button
  color = "primary"
  (click) = "addCustomerFormOpen = !addCustomerFormOpen">
      Add Customer
  </button>      
  </div>
<div>
  <customerform *ngIf = "addCustomerFormOpen"
  (update) = "add($event)"
  (closeEdit) = "addCustomerFormOpen = false"
  [formType] = "'Add customer'">
  </customerform> 
</div>   
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false"
                     *ngFor = "let customer of customers;let i = index">
<mat-expansion-panel-header>
      <mat-panel-title>
          {{customer.name}}
      </mat-panel-title>
      <mat-panel-description>
          {{customer.years}}
      </mat-panel-description>
      <mat-panel-description>
          {{customer.income}}
      </mat-panel-description>
      <button mat-raised-button color = "primary" (click) = "editstate[i] = !editstate[i]">Edit</button> 
      <button mat-raised-button color="warn" (click)="deleteCustomer(customer.id)">Delete</button>
      <button *ngIf = "customer.ST == 0" mat-raised-button color = "primary" (click) = "predict(customer)">predict</button> 
  </mat-expansion-panel-header>
  <customerform 
  [hidden] = "!editstate[i]"
  [name] = "customer.name"
  [years] = "customer.years"
  [income] = "customer.income"
  [category] = "customer.category"
  [ST] = "customer.ST"
  [formType] = "'Edit customer'"
  [id] = "customer.id"
  (update) = "update($event);editstate[i] = !editstate[i]"
  (closeEdit) = "editstate[i] = !editstate[i]">
</customerform>
  <div *ngIf = "customer.category == 'will pay'" style="color:green">
      {{customer.category}}
  </div>
  <div *ngIf = "customer.category == 'will default'" style="color:red">
      {{customer.category}}
  </div>
  <button *ngIf = "customer.ST == 1" mat-raised-button color = "primary" (click) = "save(customer)">save</button>
  <p *ngIf = "customer.ST == 2">Saved</p>
  <p *ngIf = "customer.ST == 2">{{customer.category}}</p>
</mat-expansion-panel>
</mat-accordion>