<mat-card>
    <h1>{{formType}}</h1>
    <form #bookForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Years</mat-label>
              <input matInput 
                [(ngModel)] = "years" 
                name = "years" 
                required>
            </mat-form-field>
          </p>
          <mat-error><p *ngIf = "isError">the years must be between 0 to 24</p></mat-error>   
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Income</mat-label>
              <input matInput 
                [(ngModel)] = "income"
                name = "income"
                required>
            </mat-form-field>
          </p> 
          <p>                                    
        <div >
            <button mat-raised-button color="primary" 
                    (click)= "updateParent()">
                     {{formType}}
            </button>
            <button mat-raised-button  
                    (click)= "tellParentToClose()">
                     Cancel
            </button>            
        </div>
      </div>
    </form>
   </mat-card>



